* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /*    scroll-behavior: smooth;*/
}

a{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}
img {
    width: 100%;
}

h1 {
    opacity: 0.7;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Roboto', sans-serif;
    opacity: 0.6;
}

p {
    font-family: 'Roboto', sans-serif;
    color: black;
    opacity: 0.6;
}

/*
HEX: #6393F2
HEX: #628DFC
HEX: #9FBB97
HEX: #FCFFFF
HEX: #000000

*/

header {
    height: 16vh;
    width: 100%;
    overflow: hidden;
    padding: 2.5vh 2vw;
    z-index: 2;
    transition: all 1s ease;

}


.headerindhold {
    display: flex;
    /* For at få elementer i headeren til at flexe */
    justify-content: space-between;
    /* Så vores elementer spredder sig ud */
    align-items: center;
    /* Vertikal centrering */
    max-width: 1200px;
    /* Max width så vi beholder vores indhold inde på midten på store skærmstørrelser */
    margin: 0 auto;
    /* Centrer vores inholdhold når man bruger max-width */

}


.splashholder {

    background-size: cover;
    height: 58vh;
    text-align: center;
    margin-top: auto;
}

.splashholder img {
    width: auto;
    height: 100%;
}

.splashh1 {
    font-family: 'Roboto bold', sans-serif;
    font-size: 1.7em;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;

}



.splashtekst {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin-bottom: 0 auto;
    text-align: center;
    letter-spacing: 1.5px;
    opacity: 0.6;
    margin-left: 20px;
    margin-right: 20px;

}

#buttonwrapper1,
#buttonwrapper2 {
    display: flex;
    justify-content: center;
}

.buynow1 {
    height: 45px;
    width: 110px;
    background-color: #628DFC;
    border-radius: 15px;
    margin-bottom: 3vh;
    cursor: pointer;
}

.buynow1 p {
    color: white;
    opacity: 1;
    padding-top: 2.6vh;

}

.buynow1:hover {
    background-color: #587bd5;
}

.buynow2:hover {
    background-color: #587bd5;
}

.buy1 p {
    font-family: "roboto", sans-serif;
    font-weight: bolder;
    font-size: 2vh;
    margin: -0.5vh;
    text-align: center;
}

#videowrapper {
    display: flex;
    justify-content: center;



}



.video {
    border-radius: 25px;
    overflow: hidden;
    z-index: 1;
    width: 90%;
    height: 50vw;
    ;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);


}

#wavebreaker {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 25px;
}

#wavebreaker img {
    width: 100%;
}

/*splashimage*/
.quote1 {
    text-align: center;
    font-family: 'Ranga', cursive;
    color: black;
    margin-top: 2vh;
    margin-bottom: 4vh;
    font-size: 2rem;
    font-style: italic;
}

.quote2 {
    text-align: center;
    font-family: 'Ranga', cursive;
    color: black;
    margin-top: 2vh;
    margin-bottom: 4vh;
    font-size: 2rem;
    font-style: italic;
}


#infoplaceholder1,
#infoplaceholder2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    align-items: center;

}

.imgboks1 {

    text-align: center;

}

.imgboks1 img {

    margin-top: 3vh;
    background-size: cover;
    width: 20%;
    height: auto;
}

.imgboks2 {
    text-align: center;
}

.imgboks2 img {
    background-size: cover;
    width: 85%;
    height: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.imgboks3 {
    text-align: center;
}

.imgboks3 img {
    margin-top: 3vh;
    background-size: cover;
    width: 20%;
    height: auto;
}

.imgboks4 {
    text-align: center;
}

.imgboks4 img {
    margin-top: 2.5vh;
    background-size: cover;
    width: 85%;
    height: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);

}

.imgboks5 {
    width: 9vh;
    height: 9vh;
    background-color: green;

}

.imgboks6 {}

.infoheading1 {
    font-size: 1.3rem;
    padding: 20px;
    text-align: center;
}

.infoheading2 {
    font-size: 1.3rem;
    padding: 20px;
    text-align: center;
}

.textboks1,
.textboks2,
.textboks3 {
    margin-bottom: 0 auto;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
    letter-spacing: 1.5px;
}

.howtobox1 {
    margin-bottom: 0 auto;
    margin-top: 11vw;
    margin-left: 6vw;
    margin-right: 11.5vw;
    text-align: right;
    letter-spacing: 1.5px;
}

.howtobox2 {
    margin-bottom: 0 auto;
    margin-left: 11.5vw;
    margin-right: 6vw;
    padding-top: 8vw;
    padding-bottom: 8vw;
    text-align: left;
    letter-spacing: 1.5px;
}

.howtobox3 {
    margin-bottom: 0 auto;
    margin-left: 6vw;
    margin-right: 11.5vw;
    text-align: right;
    letter-spacing: 1.5px;
}

#imagewrapper {
    display: flex;
    justify-content: center;
}

.imgholder1 {
    text-align: center;
}

.imgholder1 img {

    background-size: cover;
    width: 90%;
    height: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#buttonwrapper2 {
    text-align: center;
    padding-top: 10vh;
}

.buynow2 {
    height: 45px;
    width: 170px;
    background-color: #628DFC;
    border-radius: 15px;
    cursor: pointer;
}

.buynow2 p {
    color: white;
    opacity: 1;
    padding-top: 2.2vh;

}

.buy2 p {
    font-family: "roboto", sans-serif;
    font-weight: bolder;
    font-size: 3vh;
    margin: -0.5vh;
}

#turtlebreaker {
    text-align: center;
    padding: 60px;
}

#turtlebreaker img {
    width: 40%;
}

.featureheading {
    text-align: center;
}

#featureimages {
    display: flex;
    justify-content: center;
}




.feature1 {
    margin-top: 2vh;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;

}

#infoplaceholder3 h2 {
    font-size: 1.3em;
}


#featureimages img {
    width: 95%;

}

#instaholder{
    padding-right: 3vw;
    padding-left: 3vw;
    padding-bottom: 5vw;
}
#instaoverskrift{
    grid-template-columns: auto auto auto;
    text-align: center;
    padding-top: 15vh;
    padding-bottom: 3vh;
}
#instagrampictures {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1vw;
    justify-content: center;
}

#instagrampictures img{
    border-radius: 20px;
    cursor: pointer;
}


/*gawfgeafawfawfafwa*/

#boxwrapper1,
#boxwrapper2,
#boxwrapper3 {
    display: flex;
    justify-content: center;
    margin-top: 1.5vh;


}

#box1,
#box2,
#box3 {
    height: 55vh;
    width: 40vh;
    background-color: antiquewhite;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;

}




h3 {
    text-align: center;

}



.some img {
    width: 50px;
    margin 0 5px;
}




.logo img {
    width: 70%;
    padding-top: 15px;
}

.felt1,
.felt2,
.felt3 {
    width: 35px;
    height: 5px;
    background-color: black;
    border-radius: 5px;
    margin: 6px 0;
    transition: 0.4s;
}

.change .felt1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change -felt2 {
    opacity: 0;
}

/* Rotate last bar */
.change .felt3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

/* Class som bliver sat på elementer som skal forsvinde på mobilstørrelser */
.hide-mobile {
    display: none;
}

.hide {
    display: none;
}

/*MEDIA QUERIES*/



@media screen and (min-width: 500px) {
    .feature1{
    width: 100%;
    }
}

@media screen and (min-width: 700px) {
    .feature1{
    width: 70%;
    }
}



@media screen and (min-width: 880px) {
    .feature1{
    width: 60%;
    }
}

@media screen and (min-width: 1100px) {
    .feature1{
    width: 50%;
    }
}
    #wavebreaker {
        text-align: center;
        padding-top: 10vh;
    }

    #wavebreaker img {
        width: 40%;
    }

    .splashtekst {
        padding-right: 60px;
        padding-left: 60px;
    }

    #splashimage {
        padding-top: 7vw
    }

@media screen and (min-width: 700px) {

    .video{
        width: 70%;
        height: 70vh;
    }
    .howtobox1 {
    margin-bottom: 0 auto;
    margin-top: 11vw;
    margin-left: 6vw;
    margin-right: 11.5vw;
    text-align: right;
    letter-spacing: 1.5px;
}

.howtobox2 {
    margin-bottom: 0 auto;
    margin-left: 11.5vw;
    margin-right: 6vw;
    padding-top: 8vw;
    padding-bottom: 8vw;
    text-align: left;
    letter-spacing: 1.5px;
}

.howtobox3 {
    margin-bottom: 0 auto;
    margin-left: 6vw;
    margin-right: 11.5vw;
    text-align: right;
    letter-spacing: 1.5px;
}


    #instaholder{
    padding-right: 10vw;
    padding-left: 10vw;
}
#instaoverskrift{
    grid-template-columns: auto auto auto;
    text-align: center;
    padding-top: 15vh;
    padding-bottom: 3vh;
}
#instagrampictures {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1vw;
    justify-content: center;
}


    .quote1 {
        text-align: center;
        font-family: 'Ranga', cursive;
        color: black;
        margin-top: 30vh;
        margin-bottom: 4vh;
        font-size: 2rem;
        font-style: italic;
    }

    .quote2 {
        text-align: center;
        font-family: 'Ranga', cursive;
        color: black;
        margin-top: 25vh;
        margin-bottom: 4vh;
        font-size: 2rem;
        font-style: italic;
    }

    #splashright {
        margin-top: 5vw;
    }

    .infoheading1 {
        font-size: 1.3rem;
        padding: 20px;
        text-align: left;
    }

    .infoheading2 {
        font-size: 1.3rem;
        padding: 20px;
        text-align: left;
    }

    #infoplaceholder1 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 7vh;
        align-items: center;

    }

    #infoplaceholder2 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row-reverse;
        margin-top: 7vh;
        align-items: center;

    }

    .infoheading1 {
        padding: 0px;
        padding-bottom: 20px;
    }

    .explainer1 p {
        margin: 0;
    }

    .imgboks2 {
        width: 100%;
        height: auto;
        padding-left: 1vw;
        padding-right: 0vw;
    }




    .theimage {
        padding: 0px;
    }

    .explainer1 {
        width: 230%;
        padding-right: 5vw;
    }


    .infoheading2 {
        padding: 0px;
        padding-bottom: 20px;
    }

    .explainer2 p {
        margin: 0;
    }

    .imgboks4 {
        width: 100%;
        height: auto;
        padding-right: 1vw;
        padding-left: 0vw;
    }

    .theimage2 {
        padding: 0px;
    }

    .explainer1 {
        width: 230%;
        padding-right: 5vw;
    }

    .explainer2 {
        width: 230%;
        padding-left: 5vw;
    }

    .imgboks1 {
        width: 120%;
        padding-bottom: 1vh;
        text-align: left;
    }

    .imgboks3 {
        width: 120%;
        padding-bottom: 1vh;
        text-align: left;
    }

    .imgholder1 img {

        background-size: cover;
        width: 60%;
        height: auto;
        border-radius: 20px;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    }

    .textboks1,
.textboks2,
.textboks3 {
    margin-bottom: 0 auto;
    margin-left: 80px;
    margin-right: 80px;
    text-align: left;
    letter-spacing: 1.5px;
}

    #infoplaceholder3 {
        display: flex;
        flex-direction: row;
    }

    #theimage3 img {
        width: 100%;
    }

    .imgboks6 {
        width: 100%;
        text-align: right;
        padding-right: 20vw;
    }


    .howtobox1 {
        padding-top: 0px;
    }

    .howto1 {
        padding-left: 10vw;
    }

    .howtobox1 {
        margin-bottom: 0 auto;
        margin-top: 11vw;
        margin-left: 6vw;
        margin-right: 3vw;
        text-align: right;
        letter-spacing: 1.5px;
    }

    .howtobox2 {
        margin-bottom: 0 auto;
        margin-left: 3vw;
        margin-right: 6vw;
        padding-top: 14vw;
        padding-bottom: 12vw;
        text-align: left;
        letter-spacing: 1.5px;
    }

    .howtobox3 {
        margin-bottom: 0 auto;
        margin-left: 6vw;
        margin-right: 3vw;
        text-align: right;
        letter-spacing: 1.5px;
    }

    #infoplaceholder3 {}
}

/**MEDIA QUERIES FOR FEATURES SECTION**/

/****/

@media screen and (max-width: 700px) {
    .howtobox1 {
    margin-bottom: 0 auto;
    margin-top: 1vw;
    margin-left: 4vw;
    margin-right: 25vw;
    text-align: left;
    letter-spacing: 1.5px;
}

.howtobox2 {
    margin-bottom: 0 auto;
    margin-left: 4vw;
    margin-right: 25vw;
    padding-top: 8vw;
    padding-bottom: 8vw;
    text-align: right;
    letter-spacing: 1.5px;
}

.howtobox3 {
    margin-bottom: 0 auto;
    margin-left: 4vw;
    margin-right: 25vw;
    text-align: left;
    letter-spacing: 1.5px;
}
}

@media screen and (min-width: 767px) {
    #splash {
        display: flex;
        justify-content: center;
    }

    #splashimage img{
        margin-top: 6vw;
        margin-left: 6vw;
    }
}
    #splashright {
        padding-top: 80px;
    }



@media screen and (min-width: 960px) {
    #splashright {
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 70px
    }
}

    #splashimage img {
        height: 110%
    }

    #splashimage{
        padding-top: 2vw;
    }


    @media screen and (min-width: 1074px) {
        #splashright {
            padding-left: 100px;
            padding-right: 1px;

        }

        #splashimage {
            padding-left: 70px;
            margin-left: 0vw;
        }

        #splashimage img {
            height: 110%
        }

    }

    @media screen and (min-width: 1000px) {
        #splashtekst {
            padding-left: 200px;
            padding-right: 200px;

        }

        #splashimage img {
            height: 140%;
        }

        #splashright {
            margin-right: 3vw;
            padding-top: 10vw;
        }

    }

/**NAVBAR TEST**/
body {
  margin: 0;
}
.header-fixed {
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    line-height: 60px;
}

.navbar .logo {
    flex: 3;
    padding-left: 2vw;
}

.navbar .logo a {
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.navbar .logo a:hover {
  color: grey;
}

.navbar nav {
    flex: 8;
}

.navbar label {
  user-select: none;
  cursor: pointer;
  padding: 28px 20px;
  position: relative;
  z-index: 3;
}

.navbar label i {
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
  font-style: normal;
  font-weight: normal;
}
.navbar label i:before,
.navbar label i:after {
  content: '';
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.navbar label i,
.navbar label i:before,
.navbar label i:after {
  display: block;
  background: black;
    opacity: 0.7;
}
.navbar label i:before {
  top: 5px;
}
.navbar label i:after {
  top: -5px;
}

.navbar #navbar-toggle {
  display: none;
}

.header #navbar-toggle:checked ~ .menu {
  visibility: visible;
  opacity: 0.99;
}
.header #navbar-toggle:checked ~ label {

  border-radius: 50%;
}
.header #navbar-toggle:checked ~ label i {
  background: transparent;
}
.header #navbar-toggle:checked ~ label i:before {
  transform: rotate(-45deg);
}
.header #navbar-toggle:checked ~ label i:after {
  transform: rotate(45deg);
}
.header #navbar-toggle:checked ~ label:not(.steps) i:before,
.header #navbar-toggle:checked ~ label:not(.steps) i:after {
  top: 0;
}

.navbar nav li:hover a {
      color: #628DFC;
      transition: all 0.3s ease-out;
    }

@media (max-width: 768px) {

    .navbar .logo img {
        width: 30%;
    flex: 3;
    padding-left: 2vw;
}
    .navbar nav {
      visibility: hidden;
      opacity: 0;
      z-index: 2;
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease-out;
      display: table;
      background: white;
    }
    .navbar nav ul {
      margin: 0;
      padding: 20px 0;
      display: table-cell;
      vertical-align: middle;
    }
    .navbar nav li {
      display: block;
      text-align: center;
      padding: 20px 0;
      text-align: center;
      font-size: 50px;
      min-height: 50px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease-out;
    }
    .navbar nav li:hover {
        color: #628DFC;
    }
    .navbar nav li:hover a {
      color: #628DFC;
      transition: all 0.3s ease-out;
    }
    .navbar nav li a {
      color: #212121;
        opacity: 0.7;
    }
}

@media (min-width: 768px) {
    .navbar nav ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-around;
      text-align: center;
      list-style: none;
    }
    .navbar nav li {
      flex: 1;
    }
    .navbar nav li a {
      display: block;
      padding: 0 8px;
      font-size: 16px;
      line-height: 60px;
      color: black;
        opacity: 0.7;
        cursor: pointer;
      text-decoration: none;
    }

    .navbar label {
      display: none;
    }
}

/**FOOTER**/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
  font-family: Roboto;
}



.footer-distributed{
	background: #628DFC;
    opacity: 0.8;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 50px 60px 40px;
	overflow: hidden;
}

footer section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}


/* Footer left */

.footer-distributed .footer-left{
	float: left;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Roboto', cursive;
	margin: 0 0 10px;
}
.footer-distributed img{
	color:  #ffffff;
	font: normal 36px 'Roboto', cursive;
	margin: 0 0 10px;
}

.footer-distributed img span{
	color:  #5383d3;
}

.footer-distributed img{
	color:  #ffffff;
	font: normal 36px 'Roboto', cursive;
	margin: 0 0 10px;
}
.footer-distributed img{
	color:  #ffffff;
	font: normal 36px 'Roboto', cursive;
	margin: 0 0 10px;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  white;
}

.footer-distributed .footer-company-name{
	color:  white;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons{
	margin-top: 40px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #7c9cef;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
	float: right;
}

.footer-distributed .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}

/* The contact form */

.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  white;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;

	width: 400px;
	padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
	color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
	color:  #5c666b;
}


.footer-distributed form input{
	height: 55px;
	margin-bottom: 15px;
}

.footer-distributed form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer-distributed form button{
	border-radius: 3px;
	background-color:  #7c9cef;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

	.footer-distributed {
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-company-name{
		font-size: 12px;
	}

	.footer-distributed form input,
	.footer-distributed form textarea{
		width: 250px;
	}

	.footer-distributed form button{
		padding: 10px 35px;
	}

}

@media (max-width: 800px) {

	.footer-distributed{
		padding: 30px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.footer-distributed .footer-left{
		margin-bottom: 40px;
	}

	.footer-distributed form{
		margin-top: 30px;
	}

	.footer-distributed form{
		display: block;
	}

	.footer-distributed form button{
		float: none;
	}
}


/**JESPER KODE**/

.videoheading{
    text-align: center;
    padding-top: 5vh;
}

.videoh2{
    text-align: center;
    padding-top: 1vh;
    padding-left: 20vw;
    padding-right: 20vw;
}

#videoholder {
    display: flex;
    justify-content: center;
    padding-top: 4vh;



}

.video2 {
    border-radius: 25px;
    overflow: hidden;
    z-index: 1;
    width: 85%;
    height: 55vw;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}



#missionplaceholder1,
#missionplaceholder2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    align-items: center;
}

.img-boks1 {

    text-align: center;

}

.img-boks1 img {

    margin-top: 3vh;
    background-size: cover;
    width: 20%;
    height: auto;
}

.img-boks2 {
    text-align: center;
}

.img-boks2 img {
    background-size: cover;
    width: 85%;
    height: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.img-boks3 {
    text-align: center;
}

.img-boks3 img {
    margin-top: 3vh;
    background-size: cover;
    width: 20%;
    height: auto;
}

.img-boks4 {
    text-align: center;
}

.img-boks4 img {
    margin-top: 2.5vh;
    background-size: cover;
    width: 85%;
    height: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);

}

.missionheading1 {
    font-size: 1.3rem;
    padding: 20px;
    text-align: center;
}

.missionheading2 {
    font-size: 1.3rem;
    padding: 20px;
    text-align: center;
}

.missiontext2,
.missiontext3 {
    margin-bottom: 0 auto;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
    letter-spacing: 1.5px;
}

.missiontext1{
    margin-bottom: 0 auto;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
    letter-spacing: 1.5px;
    padding-left: 20px;
}

#wavebreaker2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 25px;
}

#wavebreaker2 img {
    padding-top: 10vh;
    width: 40%;
}

#turtlebreaker2 {
    text-align: center;
    padding: 60px;
}

#turtlebreaker2 img {
    width: 40%;
}

#wrapthebutton #buttonwrapper2{
    padding-top: 0vh;
    padding-bottom: 10vh;
}

@media screen and (min-width: 500px) {}

@media screen and (min-width: 700px) {


    .missionheading1 {
        font-size: 1.3rem;
        padding: 20px;
        text-align: left;
    }

    .missionheading2 {
        font-size: 1.3rem;
        padding: 20px;
        text-align: left;
    }

    #missionplaceholder1 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 7vh;
        align-items: center;

    }

    #missionplaceholder2 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row-reverse;
        margin-top: 7vh;
        align-items: center;

    }

    .mission1 p {
        margin: 0;
    }

    .img-boks2 {
        width: 100%;
        height: auto;
        padding-left: 1vw;
        padding-right: 0vw;
    }

    .missionimage {
        padding: 0px;
    }

    .mission1 {
        width: 230%;
        padding-right: 5vw;
    }


    .missionheading2 {
        padding: 0px;
        padding-bottom: 20px;
    }

    .mission2 p {
        margin: 0;
    }

    .img-boks4 {
        width: 100%;
        height: auto;
        padding-right: 1vw;
        padding-left: 0vw;
    }

    .missionimage2 {
        padding: 0px;
    }

    .mission2 {
        width: 230%;
        padding-left: 5vw;
    }

    .img-boks1 {
        width: 105%;
        padding-bottom: 1vh;
        text-align: left;
    }

    .img-boks3 {
        width: 120%;
        padding-bottom: 1vh;
        text-align: left;
    }


    .missiontext1,
    .missiontext2 {
        margin-bottom: 0 auto;
        margin-left: 80px;
        margin-right: 80px;
        text-align: left;
        letter-spacing: 1.5px;
    }
}

    @media screen and (min-width: 880px) {

        .video2 {
            width: 70%;
            height: 45vw;
        }
    }

    @media screen and (min-width: 1100px) {

        .video2 {
            width: 60%;
            height: 35vw;
        }
    }

    /**PRODUCT**/


    .container1 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

/* Columns */
.left-column {
  width: 65%;
  position: relative;
}

.right-column {
  width: 35%;
  margin-top: 60px;
}


/* Left Column */
.left-column img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
}

.left-column img.active {
  opacity: 1;
}


/* Right Column */

/* Product Description */
.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

/* Product Configuration */
.product-color span,
.cable-config span {
  font-size: 14px;
  font-weight: 400;
  color: #86939E;
  margin-bottom: 20px;
  display: inline-block;
}

/* Product Color */
.product-color {
  margin-bottom: 30px;
}

.color-choose div {
  display: inline-block;
}

.color-choose input[type="radio"] {
  display: none;
}

.color-choose input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}

.color-choose input[type="radio"] + label span {
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}

.color-choose input[type="radio"]#black + label span {
  background-color: black;
}
.color-choose input[type="radio"]#blue + label span {
  background-color: #9bd1cc;
}
.color-choose input[type="radio"]#red + label span {
  background-color: #C91524;
}

.color-choose input[type="radio"]:checked + label span {
  background-image: url(images/check-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* Cable Configuration */
.cable-choose {
  margin-bottom: 20px;
}

.cable-choose button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5E6977;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}

.cable-choose button:hover,
.cable-choose button:active,
.cable-choose button:focus {
  border: 2px solid #86939E;
  outline: none;
}

.cable-config {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}

.cable-config a {
  color: #358ED7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}
.cable-config a:before {
  content: "?";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}

/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: #6393F2;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #5a84d8;
}

/* Responsive */
@media (max-width: 940px) {
  .container1 {
    flex-direction: column;
    margin-top: 60px;
  }

  .left-column,
  .right-column {
    width: 100%;
  }

  .left-column img {
    width: 180px;
    right: 0;
    top: -65px;
    left: initial;
  }
}

@media (max-width: 535px) {
  .left-column img {
    width: 220px;
    top: -85px;
  }
}







