* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /*    scroll-behavior: smooth;*/
}


img {
    width: 100%;
}

h1 {
    opacity: 0.7;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Roboto', sans-serif;
    opacity: 0.6;
}

p {
    font-family: 'Roboto', sans-serif;
    color: black;
    opacity: 0.6;
}

/*
HEX: #6393F2
HEX: #628DFC
HEX: #9FBB97
HEX: #FCFFFF
HEX: #000000

*/

header {
    height: 16vh;
    width: 100%;
    overflow: hidden;
    padding: 2.5vh 2vw;
    z-index: 2;
    transition: all 1s ease;

}


.headerindhold {
    display: flex;
    /* For at få elementer i headeren til at flexe */
    justify-content: space-between;
    /* Så vores elementer spredder sig ud */
    align-items: center;
    /* Vertikal centrering */
    max-width: 1200px;
    /* Max width så vi beholder vores indhold inde på midten på store skærmstørrelser */
    margin: 0 auto;
    /* Centrer vores inholdhold når man bruger max-width */

}


.splashholder {

    background-size: cover;
    height: 58vh;
    text-align: center;
    margin-top: auto;
}

.splashholder img {
    width: auto;
    height: 100%;
}

.splashh1 {
    font-family: 'Roboto bold', sans-serif;
    font-size: 1.7em;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;

}



.splashtekst {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin-bottom: 0 auto;
    text-align: center;
    letter-spacing: 1.5px;
    opacity: 0.6;
    margin-left: 20px;
    margin-right: 20px;

}

#buttonwrapper1,
#buttonwrapper2 {
    display: flex;
    justify-content: center;
}

.buynow1 {
    height: 45px;
    width: 110px;
    background-color: #628DFC;
    border-radius: 15px;
    margin-bottom: 3vh;
    cursor: pointer;
}

.buynow1 p {
    color: white;
    opacity: 1;
}

.buynow1:hover {
    background-color: #587bd5;
}

.buy1 p {
    font-family: "roboto", sans-serif;
    font-weight: bolder;
    font-size: 2vh;
    margin: -0.5vh;
    text-align: center;
}

#videowrapper {
    display: flex;
    justify-content: center;



}



.video {
    border-radius: 25px;
    overflow: hidden;
    z-index: 1;
    width: 80%;
    height: 50vw;
    ;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);


}

#wavebreaker {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 25px;
}

#wavebreaker img {
    width: 50%;
}

/*splashimage*/
.quote1,
.quote2,
.quote3,
.quote4 {
    text-align: center;
    font-family: 'Ranga', cursive;
    color: black;
    margin-top: 4vh;
    margin-bottom: 4vh;
    font-size: 1.5rem;
    font-style: italic;
}


#infoplaceholder1,
#infoplaceholder2,
#infoplaceholder3 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    align-items: center;

}

.imgboks1 {

    text-align: center;

}

.imgboks1 img {

    margin-top: 3vh;
    background-size: cover;
    width: 20%;
    height: auto;
}

.imgboks2 {
    text-align: center;

}

.imgboks2 img {
    background-size: cover;
    width: 85%;
    height: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.imgboks3 {
    text-align: center;
}

.imgboks3 img {
    margin-top: 3vh;
    background-size: cover;
    width: 20%;
    height: auto;
}

.imgboks4 {
    text-align: center;
}

.imgboks4 img {
    margin-top: 2.5vh;
    background-size: cover;
    width: 85%;
    height: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);

}

.imgboks5 {
    width: 9vh;
    height: 9vh;
    background-color: green;

}

.imgboks6 {
    width: 9vh;
    height: 9vh;
    background-color: red;

}

.infoheading1 {
    font-size: 1.3rem;
    padding: 20px;
    text-align: center;
}

.infoheading2 {
    font-size: 1.3rem;
    padding: 20px;
    text-align: center;
}

.textboks1,
.textboks2,
.textboks3 {
    margin-bottom: 0 auto;
    margin-left: 80px;
    margin-right: 80px;
    text-align: left;
    letter-spacing: 1.5px;
}

#imagewrapper {
    display: flex;
    justify-content: center;
}

.imgholder1 {
    text-align: center;
}

.imgholder1 img {

    background-size: cover;
    width: 90%;
    height: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#buttonwrapper2 {
    text-align: center;
}

.buynow2 {
    width: 200px;
    background-color: #628DFC;
    margin-top: 10vh;
    border-radius: 15px;

}

.buynow2 p {
    color: white;
    opacity: 1;
}

.buy2 p {
    font-family: "roboto", sans-serif;
    font-weight: bolder;
    font-size: 3vh;
    margin: -0.5vh;
}

#turtlebreaker {
    text-align: center;
    padding: 60px;
}

#turtlebreaker img {
    width: 70%;
}

.featureheading {
    text-align: center;
}

#featureimages {
    display: flex;
    justify-content: center;
}




.feature1 {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}


#featureimages img {
    width: 95%;

}

#instagramholder {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 3vw;
    justify-content: center;


}

.pic1,
.pic2,
.pic3,
.pic4 {

    height: 20vh;
    width: 22vh;
    background-color: black;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 3px 2px grey;
}


/*gawfgeafawfawfafwa*/

#boxwrapper1,
#boxwrapper2,
#boxwrapper3 {
    display: flex;
    justify-content: center;
    margin-top: 1.5vh;


}

#box1,
#box2,
#box3 {
    height: 55vh;
    width: 40vh;
    background-color: antiquewhite;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;

}




h3 {
    text-align: center;

}

footer {
    display: grid;
    grid-template-columns: auto;
    height: 250px;
    margin-top: 50px;
    text-align: center;
    padding: 30px;
    grid-gap: 20px;

}

.some img {
    width: 50px;
    margin 0 5px;
}

nav {

    width: 100%;
    justify-content: space-around;
    padding-top: 15px;


}

a {
    color: black;
    padding: 3.5vh 15px;
    /* for at få luft omkring vores elementer */
    font-size: 10px;
    /* Fontstørrelse */
    /* Vores valgte font */
    text-transform: uppercase;
    /* Gør alle bogstaver store */
    transition: all 0.3s ease;

    /* Sætter transition på vores hover */
}

.logo {
    width: 50vh;
    padding-top: 15px;
}

.felt1,
.felt2,
.felt3 {
    width: 35px;
    height: 5px;
    background-color: black;
    border-radius: 5px;
    margin: 6px 0;
    transition: 0.4s;
}

.change .felt1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change -felt2 {
    opacity: 0;
}

/* Rotate last bar */
.change .felt3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

/* Class som bliver sat på elementer som skal forsvinde på mobilstørrelser */
.hide-mobile {
    display: none;
}

.hide {
    display: none;
}

/*MEDIA QUERIES*/

@media screen and (min-width: 500px) {

    #wavebreaker {
    text-align: center;
    padding-top: 10vh;
}

#wavebreaker img {
    width: 30%;
}

    .splashtekst {
        padding-right: 60px;
        padding-left: 60px;
    }

    #splashimage {
        padding-left: 30px
    }

}

@media screen and (min-width: 700px) {

    .infoheading1 {
    font-size: 1.3rem;
    padding: 20px;
    text-align: left;
}

.infoheading2 {
    font-size: 1.3rem;
    padding: 20px;
    text-align: left;
}

    #infoplaceholder1 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 14vh;
        align-items: center;

    }

    #infoplaceholder2 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row-reverse;
        margin-top: 20vh;
        align-items: center;

    }

    .infoheading1{
        padding: 0px;
        padding-bottom: 20px;
    }

    .explainer1 p{
        margin: 0;
    }

    .imgboks2 {
        width: 100%;
        height: auto;
        padding-left: 1vw;
        padding-right: 0vw;
    }

    .theimage {
        padding: 0px;
    }

    .explainer1 {
        width: 230%;
        padding-right: 5vw;
    }


    .infoheading2{
        padding: 0px;
        padding-bottom: 20px;
    }

    .explainer2 p{
        margin: 0;
    }

    .imgboks4 {
        width: 100%;
        height: auto;
        padding-right: 1vw;
        padding-left: 0vw;
    }

    .theimage2 {
        padding: 0px;
    }

    .explainer1 {
        width: 230%;
        padding-right: 5vw;
    }

    .explainer2 {
        width: 230%;
        padding-left: 5vw;
    }

    .imgboks1{
        width: 120%;
        padding-bottom: 1vh;
        text-align: left;
    }

    .imgboks3{
        width: 120%;
        padding-bottom: 1vh;
        text-align: left;
    }

    .imgholder1 img {

    background-size: cover;
    width: 70%;
    height: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}
}



@media screen and (min-width: 740px) {
    #splash {
        display: flex;
        justify-content: center;
    }

    #splashright {
        padding-top: 80px;
    }

}

@media screen and (min-width: 960px) {
    #splashright {
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 70px
    }

    #splashimage img {
        margin-left: 100px;
        height: 110%
    }


    @media screen and (min-width: 1074px) {
        #splashright {
            padding-left: 100px;
            padding-right: 1px;

        }

        #splashimage {
            padding-left: 70px
        }

        #splashimage img {
            height: 110%
        }

    }

    @media screen and (min-width: 1217px) {
        #splashtekst {
            padding-left: 200px;
            padding-right: 200px;

        }

        #splashimage img {
            height: 120%
        }

        #splashright {
            margin-right: 150px;
            padding-top: 70px;
        }

    }
