* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /*    scroll-behavior: smooth;*/
}

img {
    width: 100%;
}


}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Roboto', sans-serif;
    color: black;

}

/*
HEX: #6393F2
HEX: #628DFC
HEX: #9FBB97
HEX: #FCFFFF
HEX: #000000

*/

header {
    height: 16vh;
    width: 100%;
    overflow: hidden;
    padding: 2.5vh 2vw;
    z-index: 2;
    position: fixed;
    transition: all 1s ease;

}


.headerindhold {
    display: flex;
    /* For at få elementer i headeren til at flexe */
    justify-content: space-between;
    /* Så vores elementer spredder sig ud */
    align-items: center;
    /* Vertikal centrering */
    max-width: 1200px;
    /* Max width så vi beholder vores indhold inde på midten på store skærmstørrelser */
    margin: 0 auto;
    /* Centrer vores inholdhold når man bruger max-width */

}


.splashholder {

    background-size: cover;
    height: 50vh;
    border: 5px black solid;
    display: flex;
    text-align: center;


}

.buynow1 {
    height: 35px;
    width: 100px;
    margin: 40vh -65vw 0 0;
    background-color: blue;
    border-radius: 15px;
    box-shadow: 3px 3px 2px grey;

}

.buy1 p {
    font-family: "roboto", sans-serif;
    font-weight: bolder;
    font-size: 2vh;
    margin: -1vh;
    text-align: center;
}


/*splashimage*/
.quote1,
.quote2,
.quote3,
.quote4 {
    text-align: center;
    font-family: 'Roboto', sans-serif cursive;
    color: #6393F2;
    margin-top: 2.5vh;
    margin-bottom: 2vh;
    font-size: 18px;
    font-style: italic;
}

#videowrapper {
    display: flex;
    justify-content: center;
    height: 46vh;
    height: 55vh;
    background-color: aliceblue;
}

.video {

    width: 50vh;
    height: 46vh;
    margin-top: 3.5vh;
    background-size: cover;
    background-color: black;
    border-radius: 50px;
    z-index: 30;
    align-items: center;
    box-shadow: 3px 3px 2px grey;



}

#infoplaceholder1,
#infoplaceholder2,
#infoplaceholder3 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    align-items: center;

}

.imgboks1 {

    background-color: greenyellow;
    width: 3.5vh;
    height: 4vh;
    margin-bottom: 10px;

}

.imgboks2 {
    width: 9vh;
    height: 9vh;
    background-color: red;

}

.textboks1,
.textboks2,
.textboks3 {

    padding: 20vw;
    margin-bottom: 0 auto;
    text-align: center;
    letter-spacing: 1.5px;
}


#imagewrapper {
    display: flex;
    justify-content: center;
}

.imgholder1 {

    width: 50vh;
    height: 46vh;
    margin-top: 3.5vh;
    background-color: black;
    border-radius: 50px;
    z-index: 30;
    align-items: center;
    box-shadow: 3px 3px 2px grey;
}

#buttonwrapper1 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.buynow2 {
    height: 45px;
    width: 110px;
    background-color: blue;
    margin-top: 2vh;
    border-radius: 15px;
    box-shadow: 3px 3px 2px grey;

}

.buy2 p {
    font-family: "roboto", sans-serif;
    font-weight: bolder;
    font-size: 2vh;
    margin: -0.5vw;
}

#instagramholder {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 3vw;
    justify-content: center;


}

.pic1,
.pic2,
.pic3,
.pic4 {

    height: 20vh;
    width: 22vh;
    background-color: black;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 3px 2px grey;
}

.pulse {
    display: block;
    cursor: pointer;
    /*
    height: 6vh;
    width: 30vw;
*/
    animation-name: pulse;
    animation-direction: alternate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.pulse:hover {
    animation: none;

}

@keyframes pulse {
    from {
        transform: scale(1);
        /* startposition for pilen */
    }

    to {
        transform: scale(1.05);
        /* slutposition for pilen, som er 15px lavere */
    }
}

/*gawfgeafawfawfafwa*/

#boxwrapper1,
#boxwrapper2,
#boxwrapper3 {
    display: flex;
    justify-content: center;
    margin-top: 1.5vh;


}

#box1,
#box2,
#box3 {
    height: 55vh;
    width: 40vh;
    background-color: antiquewhite;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;

}

.feature1,
.feature2,
.feature3 {
    height: 15vh;
    width: 40wh;
    background-color: aqua;
    z-index: 100;
    margin-top: 40vh;
    border-radius: 0px 0px 20px 20px;

}

.feature1,
.feature2,
.feature3,
h3 {
    text-align: center;

}

.featurelogo1,
.featurelogo2,
.featurelogo3 {

    width: 20px;
    height: 20px;
    background-color: black;

}

footer {
    display: grid;
    grid-template-columns: auto;
    height: 250px;
    margin-top: 50px;
    text-align: center;
    padding: 30px;
    grid-gap: 20px;

}

.some img {
    width: 50px;
    margin 0 5px;
}

nav {

    width: 100%;
    justify-content: space-around;
    padding-top: 15px;


}

a {
    color: black;
    padding: 3.5vh 15px;
    /* for at få luft omkring vores elementer */
    font-size: 10px;
    /* Fontstørrelse */
    /* Vores valgte font */
    text-transform: uppercase;
    /* Gør alle bogstaver store */
    transition: all 0.3s ease;

    /* Sætter transition på vores hover */
}

.logo {
    width: 50vh;
    padding-top: 15px;
}

.felt1,
.felt2,
.felt3 {
    width: 35px;
    height: 5px;
    background-color: black;
    border-radius: 5px;
    margin: 6px 0;
    transition: 0.4s;
}

.change .felt1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change -felt2 {
    opacity: 0;
}

/* Rotate last bar */
.change .felt3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

/* Class som bliver sat på elementer som skal forsvinde på mobilstørrelser */
.hide-mobile {
    display: none;
}

.hide {
    display: none;
}


/*
@media only and (max-width:600px) {}

@media only screen and (min-width:800px) {
    .hidedesktop {
        display: none;
    }

    .hide-mobile {
        display: flex;
    }
}

@media only screen and (min-width:600px) {

    a.logo {
        width: 200px;
        height: 240px;
    }
}

@media only screen and (min-width:679px) {

    .buynow1 {
        margin: 40vh -80vw 0 0;
    }
}

@media only screen and (min-width:901px) {

    .buynow1 {
        margin: 40vh -88vw 0 0;
    }
}
*/


/*MADS KODE*/

#picture {
    position: relative;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    width: 450px;
    margin-left: 100px;
    background-color: white;
}

#picture h2 {
    color: dodgerblue;
    font-size: 200%;
}

#picture h1 {
    font-size: 300%;
}

#picture p {
    font-size: 130%;
}

#picture2 img {
    border-radius: 20px;
    width: 50%;
    position: absolute;
    margin-left: 500px;
    top: 40px;
}

#textblock_headline h2 {
    position: relative;
    top: 150px;
    text-align: center;
    font-size: 200%;
}



#imagesection {
    display: flex;
    margin-top: 200px;
}

.missionimage img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.missionimage {
    width: 90%;
    margin-left: 30px;
}

.missionimage2 {
    width: 90%;
    margin-right: 30px;
}

.missiontext {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-left: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.missiontext img {
    align-content: center;
    width: 20%
}

.missiontext2 {
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.missiontext2 img {
    align-content: center;
    width: 20%
}

#imagesection2 {
    display: flex;
    margin-top: 50px;
}

#imagesection3 {
    display: flex;
    margin-top: 50px;
}

.missionimage2 img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);

}

@media screen and (max-width: 1027px) {
    #picture2 img {
        margin-left: 400px;

    }
}

@media screen and (max-width: 860px) {
    #picture {
        position: relative;
        border: 3px solid lightblue;
        border-radius: 20px;
        padding: 10px;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
        width: 450px;
        margin-left: 35px;
        background-color: white;
    }

    #picture h2 {
        color: dodgerblue;
        font-size: 200%;
    }

    #picture h1 {
        font-size: 300%;
    }

    #picture p {
        font-size: 130%;
    }

    #picture2 img {
        border-radius: 20px;
        width: 50%;
        position: absolute;
        margin-left: 350px;
        top: 40px;
    }
}



#divider img {
    width: 50%;
    border-radius: 100px;
}

@media screen and (max-width: 700px) {
    #picture {
        position: relative;
        border: none;
        border-radius: none;
        padding: 0px;
        box-shadow: none;
        margin-left: 0px;
        width: 100%;
        background-color: white;
        padding-top: 20px;
    }

    #picture h2 {
        font-size: 150%;
        margin-left: 10px;
        margin-right: 10px;
    }

    #picture p {
        font-size: 120%;
        margin-left: 10px;
        margin-right: 10px;
    }

    #picture h1 {
        font-size: 250%;
        margin-left: 10px;
        margin-right: 10px;
    }

    #picture2 img {
        border-radius: 20px;
        width: 100%;
        position: relative;
        margin-left: 0px;
        margin-bottom: 10px;
        top: none;
        z-index: 2;
    }

    #textblock_headline h2 {
        position: relative;
        top: 0px;
        text-align: center;
        font-size: 200%;
    }

    #imagesection {
        display: flex;
        flex-basis: 700px;
        flex-wrap: wrap;
        margin-top: 50px;
    }

    #imagesection2 {
        display: flex;
        flex-basis: 700px;
        flex-wrap: wrap-reverse;
        margin-top: 50px;
    }

    #imagesection3 {
        display: flex;
        flex-basis: 700px;
        flex-wrap: wrap;
        margin-top: 50px;
    }

    .missionimage {
        margin-left: 25px;
        margin-right: 15px;
    }

    .missionimage2 {
        margin-left: 15px;
        margin-right: 25px;
    }

    .missiontext {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 10px;
    }

    .missiontext2 {
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }

    .missiontext img {
        align-content: center;
        width: 35%
    }

    .missiontext2 img {
        width: 35%;
    }




}

#divider img {
    width: 40%;
    border-radius: 100px;
}
